@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

* {
    margin:0;
    padding: 0;
    font-family: 'Roboto';
}

body {
    background-color: rgb(241, 241, 241);
    font-weight: 700;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
}

.container-card {
    background-color: #FFFFFF;
    width: 460px;
    height: 491px;
    margin: 2em 2em 2em 2em;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
  /* boton close  */
button{
    width: 42px;
    height: 42px;
    background: transparent;
    border-style: none;
    margin: -3.2em 0 1em 28em;
}

        button:hover{
            background-image: url(./boton/boton-close-02-01-01.svg);
            
        }


/* Primer Parrafo */
.p0{
    font-size: 1.2em;
    margin: 0 3em 0 3em;
    color: #151A41;
    font-weight: 900;
}

/* Contenedor de cajas */

.container-box {
    display: flex;
    font-size: 1.2em;
    font-weight: 900;
    margin: 1.5em 0 0.5em 0;
}

        .box {
            padding: 15px 25px;
            border: 0.1px solid #151a414d;
            border-radius: 6px;  
            margin-left: 0.5em;
        }

        .box:hover {
            padding: 15px 25px;
            background-color: #FF0099;
            color: #FFFFFF;
            box-shadow: 0 10px 6px -10px #151A41; 
        }       
       

.container-p {
    display: flex;
    margin: 0 0 1.5em 0.5em;
    width: 75%;
    font-weight: 500;
}

        .flex-item:nth-child(1){
            order: 0;
            flex: 2 1 auto;
            align-self: auto;
        }

        .flex-item:nth-child(2) {
            order: 0;
            flex: 2 1 auto;
            align-self: auto; 
        }

        .p2 {
            text-align: right;
        }

        /* EMPIEZA CHECK */
        /* esconde el check */
input[type=checkbox] {
        display: none;
}
        /* modifica el check  */
        label:before {
            content: '';
            background: transparent;
            border: 1px solid #151a41b9;
            border-radius: 5px;
            width: 28px;
            height: 28px;
            display: inline-block;
            text-align: center;
            vertical-align: middle;
            margin: 0 0.5em 0 0;   
        }

        input[type=checkbox]:checked + label:before {
            content: '✔ ';
            font-size: 16px;
        }
      
        hr{
            margin: 1.5em 0;
            width: 345px;
            background-color: #151a4142 ;
        }

        .btn {
                    background-color: #FFFFFF;
                    border: 1px solid #151a4142 ;
                    border-radius: 5px;
                    color: #151A41;
                    font-size: 14px;
                    font-weight: 500;
                    padding: 20px 90px;
                    margin-left: 3em;
        }